/*
 * Various custom styles.
 */

.navbar {
  border-top-width: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.container .navbar-default {
  background-image: linear-gradient(to bottom,#fff 0,#eee 100%);
}

header .navbar-brand img {
  margin-right: 5px;
  display: inline;
}

.navbar-text {
  margin-top: 24px;
  margin-right: 0;
}

article button.btn {
  margin-bottom: 30px;
}

.tab-content {
  margin-top: 5px;
  margin-bottom: 10px;
}

.json-content {
  max-height: 800px;
  overflow: auto;
  overflow-x: hidden;
}

.well {
  font-size: 12px;
  word-break: break-all;
}

#copy-buttons {
  text-align: center;
}

#copy-buttons .label {
  font-weight: normal;
}

.help {
  float: right;
  padding-top: 3px;
  font-size: 24px;
}

.inline-input {
  display: inline;
  width: 96%;
}

.tooltip-inner {
  text-align: justify;
}

input.ng-invalid, input.ng-invalid:focus {
  border-color: #a94442;
  background-color: #fadbe0
}


/*
 * Sticky footer styles
 */
html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 30px;
}
footer.navbar-default {
  position: absolute;
  bottom: 0;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  border-width: 1px;
  border-style: solid;
  border-bottom-width: 0;
}
footer p {
  font-size: smaller;
  margin: 2px;
}

