/*
 * Various custom styles for the REST Client. Bootstrap provides the bulk of the Look and Feel.
 */

 
 
 
 
 
 
 
 .input-group-addon input.glyphicon:before {
 visibility: visible;
}
 .input-group-addon input.glyphicon.glyphicon-star-empty:checked:before {
   content: "\e006";
}
 .input-group-addon input[type=checkbox].glyphicon{
    visibility: hidden;
}
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
.navbar {
  border-top-width: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/*
.container .navbar-default {
  background-image: linear-gradient(to bottom,#fff 0,#eee 100%);
}
*/

/* TODO tidy this up. */
sup {
    top: -1.5em;
}
header .navbar-brand {
  padding-top: 20px;
}
header .navbar-brand span {
  font-size: 30px;
}

.navbar-text {
  margin-top: 24px;
  margin-right: 30px;
}

.navbar-default .navbar-nav .navbar-link-container:hover {
  background-image: linear-gradient(to bottom,#dbdbdb 0,#e2e2e2 100%);
  background-repeat: repeat-x;
  box-shadow: inset 0 3px 9px rgba(0,0,0,.075);
}
.navbar-default .navbar-nav .navbar-link-container {
  border-left-width: 2px;
  border-left-style: outset;
}
.navbar-default .navbar-nav .navbar-link-container > a {
  padding-top: 24px;
}

.square-borders {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

#service-description {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  margin-bottom: 0;
  word-break: break-word;
}

#addServiceButton {
  width: 100%;
}

#submitFormButton {
  margin-bottom: 30px;
}

[data-ng-click] {
  cursor: pointer;
}

div.json-tabs {
  margin-bottom: 10px;
}
div.json-content {
  margin-top: 5px;
  max-height: 800px;
  overflow: auto;
  overflow-x: hidden;
}
div.json-content pre {
  background-color: #f0f0f0;
}

#modal-tabs .tab-content {
  border-style: solid;
  border-width: 1px;
  border-color: #ddd;
  margin-top: -1px;
  padding: 10px;
  padding-bottom: 0;
}
#modal-tabs div.json-content {
  margin-top: 0px;
  max-height: 250px;
}
#modal-tabs div.json-content-small {
  max-height: 150px;
}
#modal-tabs div.json-content pre {
  padding: 0;
  font-size: inherit;
}

.well {
  font-size: 12px;
  word-break: break-all;
}

#copy-buttons {
  text-align: center;
}

#copy-buttons .label {
  font-weight: normal;
}

.help {
  padding-top: 3px;
  font-size: 24px;
  text-align: center;
}

#advanced div.col-md-11, #advanced div.col-md-7, #advanced div.col-md-2,
#advanced div.col-md-4, #advanced div.col-md-3, #advanced label.alignRight {
  padding-right: 0;
  text-align: right;
}

.tooltip-inner {
  text-align: justify;
  width: 100px;
}

input.ng-invalid, input.ng-invalid:focus {
  border-color: #a94442;
  background-color: #fadbe0;
}

input.form-control[disabled] {
  border-color: #ccc;
}

.modalBackdrop {
  height: 100%;
}
/*
.modal-header {
  background-image: linear-gradient(to bottom,#337ab7 0,#2e6da4 100%);
  color: #fff;
}
*/
.modal-body {
  padding-bottom: 0;
  margin-bottom: -1px;
}

select#customServices {
  width: inherit;
  display: inline;
}

/* Smart-Table Styles */
.st-sort-ascent:before {
  content: '\25B2';
}
.st-sort-descent:before {
  content: '\25BC';
}
.clickable {
  cursor: pointer;
}
table#history td, table#history th {
  white-space: nowrap;
}
table#history td.url-row {
  word-break: break-all;
  white-space: normal;
}
table#history {
  margin-bottom: 2px;
}
#historyIntroText {
  padding: 10px;
}
.pagination a:hover {
  cursor: pointer;
}
#modal-tabs dl {
  margin-bottom: 10px;
}
dd {
  padding-bottom: 5px;
}

/* Loading Spinner */
.spinning {
  -animation: spin .7s infinite linear;
  -webkit-animation: spin .7s infinite linear;
}
@-webkit-keyframes spin {
  from { -webkit-transform: rotate(0deg);}
  to { -webkit-transform: rotate(360deg);}
}
@keyframes spin {
  from { transform: scale(1) rotate(0deg);}
  to { transform: scale(1) rotate(360deg);}
}


/*
 * Sticky footer styles
 */
html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 30px;
}
footer.navbar-default {
  position: absolute;
  bottom: 0;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  border-width: 1px;
  border-style: solid;
  border-bottom-width: 0;
}
footer p {
  font-size: smaller;
  margin: 2px;
}

