
<section class="panel panel-primary">
	<div class="panel-heading">
		<h2 class="panel-title">About</h2>
	</div>
	<div class="panel-body text-justify">
		<img id="photo" src="../img/about/photo.jpg" alt="Super-Inspiring Photo" class="pull-right">
		<p>Hi there</p>
		<p>The inspiration for this tool came from frustration with the quality of the tools available to debug RESTful APIs. Each REST Client I used had issues and never quite worked the way I would have liked it to. In the end, I decided to attempt to build something useful myself.</p>
		<p>This tool is that attempt. It's the result of many late evenings and long weekends. Whether it successfully delivers or is yet another second-rate tool is something I leave to the user to decide :)</p>
		<p>I hope it helps make life a little bit easier for whoever uses it.</p>
		<p><em>Sláinte!</em></p>
		<img src="../img/about/signature.png" alt="Signature" width="100" height="50" id="signature">

		<h3>Feedback</h3>
		<p>Visit the <a href="{{config.CHROME_STORE}}" target="_blank">YARC page</a> on the Chrome Web Store to leave feedback. Reviews and ratings can also be added. These help to promote the tool. Please add one if you can spare the time.</p>

		<h3>Support</h3>
		<p>This tool is completely free but small donations are appreciated and help fund future development. Thank you for your support!</p>
		<p>
			<a href="https://ko-fi.com/O5O1CNH2Q" target="_blank" analytics-on analytics-event="Donate" analytics-category="Links">
				<img src="../img/about/kofi5.png" border="0" alt="Buy Me a Coffee at ko-fi.com" height="36" width="141">
			</a>
		</p>
		<p>Alternatively, please consider <a href="{{config.CHROME_STORE_REVIEWS}}" target="_blank">adding a positive review or rating</a>.</p>

		<h3>More Information</h3>
		<p>Visit the <a href="http://yet-another-rest-client.com/" target="_blank">Official Site</a>.</p>

		<h3>Personalized Versions</h3>
		<p>If you or your organization would like a personalized (logos, favorites, help etc.) version of this tool, please get in touch.</p>

		<h3>Contact Details</h3>
		<p>Questions, feedback or ideas? Contact us via the <a href="{{config.CHROME_STORE_SUPPORT}}" target="_blank">support page</a>.</p>
	</div>
</section>
