
<section class="panel panel-primary">
	<div class="panel-heading">
		<h2 class="panel-title">About</h2>
	</div>
	<div class="panel-body">
		<img src="../img/about/photo.jpg" alt="Photo of the creator of the tool" class="pull-right">
		<p>Hi there</p>
		<p>The inspiration for this tool came from frustration with the quality of the tools available to debug RESTful services. Each REST Client I used had issues and never quite worked the way I would have liked it to. In the end, I decided to attempt to build something useful myself.</p>
		<p>This tool is that attempt. It's the result of many late evenings and long weekends. Whether it successfully delivers or is yet another second-rate tool is something I leave to the user to decide :)</p>
		<p>I hope it helps make life a little bit easier for whoever uses it.</p>
		<p><em>Sláinte!</em></p>
		<img src="../img/about/signature.png">

		<h3>Contributors</h3>
		<p>Thanks to all the awesome contributors that have made this possible. In random order...</p>
		<ul>
			<li>Frederico Alves III</li>
			<li>Augusto Marchez I</li>
			<li>Snr. Jimenez IV</li>
		</ul>
		<p>If you would like to contribute, please have a look at the <a href="https://github.com/paulhitz/yet-another-rest-client/issues" target="_blank">GitHub issues page</a>.</p>

		<h3>Donate</h3>
		<p>This tool is completely free but donations are appreciated and help fund future development. TODO include PayPal link.</p>
		<p>Alternatively, please consider <a href="" target="_blank">adding a review or rating</a>.</p>

		<h3>License</h3>
		<p>MIT</p>

		<h3>More Information</h3>
		<p>Visit the <a href="http://paulhitz.com/yet-another-rest-client/" target="_blank">Official Site</a>.</p>

		<h3>Contact Details</h3>
		<p>Questions, feedback or ideas? Contact us via the <a href="">extension support page</a>.</p>
	</div>
</section>
