
<form role="form" id="modal-tabs">
	<div class="modal-header">
		<h4 class="modal-title">Custom Services</h4>
	</div>
	<div class="modal-body">
		<alert data-ng-repeat="alert in alerts" type="{{alert.type}}">{{alert.msg}}</alert>
		<tabset justified="true">
			<tab heading="Add Service" select="toggleButtons(showAddButton)">
				<p>You can add a new custom service below. Use <strong>{placeholder}</strong> to indicate where a replacement value should be added. Only a single placeholder is supported.</p>
				<div class="form-v panel-body">
					<div class="form-group">
						<label for="newServiceName" class="control-label">Service Name:</label>
						<input type="text" class="form-control" id="newServiceName" placeholder="The name to appear in the dropdown" data-ng-model="$parent.newServiceName">
						<label for="newServiceUrl" class="control-label">URL:</label>
						<input type="url" class="form-control" id="newServiceUrl" placeholder="E.g. http://echo.jsontest.com/key/{placeholder}" data-ng-model="$parent.newServiceUrl">
					</div>
				</div>
			</tab>
			<tab heading="Delete Service" select="toggleButtons(showAddButton)" disabled="customServices.length == 1">
				<p>Select a custom service below and press the delete button to remove the service. This action cannot be undone.</p>
				<div class="form-group">
					<label for="customServices" class="control-label">Service Name:</label>
					<select class="form-control" id="customServices" data-ng-model="$parent.customServiceSelected" data-ng-options="custom.id as custom.label for custom in customServices"></select>
				</div>
			</tab>
		</tabset>
	</div>
	<div class="modal-footer">
		<button type="submit" class="btn btn-primary" data-ng-click="ok()" data-ng-disabled="!newServiceUrl || !newServiceName" data-ng-show="showAddButton">Save</button>
		<button class="btn btn-danger" data-ng-click="delete(customServiceSelected)" data-ng-disabled="customServiceSelected == '0'" data-ng-hide="showAddButton">Delete</button>
		<button class="btn btn-default" data-ng-click="cancel()">Close</button>
	</div>
</form>
