
<section class="panel panel-primary" ng-controller="ManageFavoritesCtrl">
	<div class="panel-heading">
		<h2 class="panel-title">Manage Favorites</h2>
	</div>
	<div class="panel-body">
		<p>Your favorites are listed below. Click on the 'More Information' icon to view additional information about each favorite.</p>
		<div class="legend">
			<strong>Legend:</strong><br>
			<ul class="list-inline">
				<li>
					<button type="button" class="btn btn-xs btn-success not-clickable" title="Apply">
						<span class="glyphicon glyphicon-play"></span>
					</button> Apply Favorite
				</li>
				<li>
					<button type="button" class="btn btn-xs btn-danger not-clickable" title="Delete">
						<span class="glyphicon glyphicon-remove"></span>
					</button> Delete Favorite
				</li>
				<li>
					<button type="button" class="btn btn-xs btn-default not-clickable" title="Export">
						<span class="glyphicon glyphicon-export"></span>
					</button> Export Favorite
				</li>
				<li>
					<button type="button" class="btn btn-xs btn-primary not-clickable" title="More Information">
						<span class="glyphicon glyphicon-info-sign"></span>
					</button> More Information
				</li>
			</ul>
		</div>
	</div>
	<table id="favorites" st-table="displayedCollection" st-safe-src="rowCollection" class="table table-striped">
		<thead>
			<tr>
				<th st-sort="date" st-skip-natural="true" st-sort-default="reverse" class="clickable">Date</th>
				<th st-sort="name" st-skip-natural="true" class="clickable">Name</th>
				<th st-sort="url" st-skip-natural="true" class="clickable">Request URL</th>
				<th st-sort="method" st-skip-natural="true" class="clickable">Type</th>
				<th>Actions</th>
			</tr>
			<tr ng-show="rowCollection.length > 10">
				<th colspan="5"><input st-search="url" class="form-control" placeholder="Filter by Request URL..." type="text"/></th>
			</tr>
		</thead>
		<tbody>
			<tr ng-show="displayedCollection.length === 0">
				<td colspan="5">There are no entries to display.</td>
			</tr>
			<tr ng-repeat="row in displayedCollection track by row.id" class="small">
				<td>{{row.date | date:dateFormat}}</td>
				<td>{{row.name}}</td>
				<td class="break-row">{{row.url}}</td>
				<td>{{row.method | uppercase}}</td>
				<td>
					<button type="button" ng-click="apply(row.id)" class="btn btn-xs btn-success" title="Apply">
						<span class="glyphicon glyphicon-play"></span>
					</button>
					<button type="button" ng-click="removeItem(row)" class="btn btn-xs btn-danger" title="Delete">
						<span class="glyphicon glyphicon-remove"></span>
					</button>
					<button type="button" ng-click="export(row);" class="btn btn-xs btn-default" title="Export">
						<span class="glyphicon glyphicon-export"></span>
					</button>
					<button type="button" ng-click="openRowModal(row);" class="btn btn-xs btn-primary" title="More Information">
						<span class="glyphicon glyphicon-info-sign"></span>
					</button>
				</td>
			</tr>
		</tbody>
		<tfoot>
			<tr>
				<td class="text-center" st-pagination="" st-items-by-page="20" st-displayed-pages="5" colspan="4"></td>
				<td>
					<button type="button" class="btn btn-danger" ng-click="deleteAll()" ng-show="displayedCollection.length > 3">
						<span class="glyphicon glyphicon-remove"></span> Delete All
					</button>
				</td>
			</tr>
		</tfoot>
	</table>
</section>
