
<footer class="row navbar-default container" ng-controller="EventsCtrl">
	<p class="text-muted pull-left">Developed by <a href="http://www.paulhitz.com/" target="_blank">Paul Hitz</a> | <a href='https://ko-fi.com/O5O1CNH2Q' target='_blank'><strong>Buy Me a Coffee!</strong><img src="img/coffee_72x72.png" alt="☕" class="inline-emoji" /></a></p>
	<p class="pull-right hidden-xs">
		<a href="http://yet-another-rest-client.com/" target="_blank">Home</a> |
		<a href="{{config.CHROME_STORE_REVIEWS}}" target="_blank">Feedback</a> |
		<a href="{{config.CHROME_STORE_SUPPORT}}" target="_blank">Issues</a> |
		<a href="" ng-click="loadTab('license');">License</a> |
		<a href="#top" target="_self">Back To Top</a>
	</p>
</footer>
