
<footer class="row navbar-default container" ng-controller="EventsCtrl">
	<p class="text-muted pull-left">Developed by <a href="http://www.paulhitz.com/" target="_blank" analytics-on analytics-category="Links">Paul Hitz</a></p>
	<p class="pull-right hidden-xs">
		<a href="http://yet-another-rest-client.com/" target="_blank" analytics-on analytics-category="Links">Home</a> |
		<a href="https://chrome.google.com/webstore/detail/yarc-yet-another-rest-cli/ehafadccdcdedbhcbddihehiodgcddpl/reviews" target="_blank" analytics-on analytics-category="Links">Feedback</a> |
		<a href="https://chrome.google.com/webstore/detail/yarc-yet-another-rest-cli/ehafadccdcdedbhcbddihehiodgcddpl/support" target="_blank" analytics-on analytics-category="Links">Issues</a> |
		<a href="https://www.paypal.com/cgi-bin/webscr?cmd=_donations&business=paulhitz%40gmail%2ecom&lc=IE&item_name=Yet%20Another%20REST%20Client&currency_code=USD&bn=PP%2dDonationsBF%3abtn_donate_LG%2egif%3aNonHosted" target="_blank" analytics-on analytics-category="Links">Donate</a> |
		<a href="http://opensource.org/licenses/MIT" target="_blank" analytics-on analytics-category="Links">License</a> |
		<a href="#top" target="_self">Back To Top</a>
	</p>
</footer>
