
<footer class="row navbar-default container" data-ng-controller="EventsCtrl">
	<p class="text-muted pull-left">Developed by <a href="http://www.paulhitz.com/" target="_blank" analytics-on analytics-category="Links">Paul Hitz</a></p>
	<p class="pull-right hidden-xs">
		<a href="http://paulhitz.com/yet-another-rest-client/" target="_blank" analytics-on analytics-category="Links">Home</a> |
		<a href="mailto:paulhitz@gmail.com?subject=Feedback">Feedback</a> |
		<a href="https://github.com/paulhitz/yet-another-rest-client" target="_blank">GitHub</a> |
		<a href="https://github.com/paulhitz/yet-another-rest-client/issues" target="_blank">Issues</a> |
		<a href="#" target="_blank" analytics-on analytics-category="Links">Donate</a> |
		<a href="http://opensource.org/licenses/MIT" target="_blank" analytics-on analytics-category="Links">License</a> |
		<a href="#top" target="_self">Back To Top</a>
	</p>
</footer>
