
<header class="navbar navbar-default">
	<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#links">
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
	</button>
	<div class="navbar-brand">
		<h1 title="Yet Another REST Client!"><img src="img/logo_38x38.png" alt="Logo" width="38" height="38">YARC!</h1> <sup ng-cloak>{{version}}</sup>
	</div>
	<nav class="collapse navbar-collapse" id="links">
		<ul class="nav navbar-nav navbar-right" ng-controller="EventsCtrl">
			<li class="navbar-text hidden-sm hidden-xs"><strong>Y</strong>et <strong>A</strong>nother <strong>R</strong>EST <strong>C</strong>lient</li>
			<li class="navbar-link-container"><a href="" ng-click="loadTab('main');" accesskey="m">Main</a></li>
			<li class="dropdown navbar-link-container" ng-controller="FavoritesCtrl">
				<a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" accesskey="f">Favorites <span class="badge">{{favorites.length}}</span><span class="caret"></span></a>
				<ul class="dropdown-menu">
					<li><a href="" ng-click="loadTab('favorites');">Manage Favorites</a></li>
					<li><a href="" ng-click="addFavorite()">Save Current Request</a></li>
					<li role="separator" class="divider"></li>
					<li><a href="" ng-click="openImportFavoritesModal();">Import Favorites</a></li>
					<li><a href="" ng-click="exportFavorites();" ng-hide="favorites.length == 0" analytics-on>Export Favorites</a></li>
					<li role="separator" class="divider" ng-hide="favorites.length == 0"></li>
					<li class="dropdown-header" ng-hide="favorites.length == 0">Apply Favorite...</li>
					<li ng-repeat="favorite in favorites | limitTo:favoritesLimit">
						<a href="" ng-click="applyFavorite(favorite.id);" class="favorite-list">{{favorite.name}}</a>
					</li>
					<li ng-show="favorites.length > favoritesLimit"><a href="" ng-click="showAll();" class="dropdown-header"><em>Show all...</em></a></li>
				</ul>
			</li>
			<li class="navbar-link-container"><a href="" ng-click="loadTab('history');" accesskey="h">History</a></li>
			<li class="navbar-link-container"><a href="" ng-click="loadTab('about');" accesskey="a">About</a></li>
			<li class="navbar-link-container"><a href="" ng-click="loadTab('help');" accesskey="?">Help</a></li>
		</ul>
	</nav>
</header>
