
<header class="navbar navbar-default">
	<div class="navbar-brand">
		<span>YARC!</span> <sup data-ng-cloak>{{version}}</sup>
	</div>
	<div class="collapse navbar-collapse">
		<ul class="nav navbar-nav navbar-right" data-ng-controller="EventsCtrl">
			<li class="navbar-text"><strong>Y</strong>et <strong>A</strong>nother <strong>R</strong>EST <strong>C</strong>lient</li>
			<li class="navbar-link-container"><a href="" data-ng-click="loadTab('main');">Main</a></li>
			<li class="dropdown navbar-link-container">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Favorites <span class="badge">{{numFavorites || 0}}</span><span class="caret"></span></a>
				<ul class="dropdown-menu">
					<li><a href="#">Manage Favorites</a></li>
					<li role="separator" class="divider"></li>
					<li><a href="#">GBO (STG)</a></li>
					<li><a href="#">GBO (QA)</a></li>
					<li role="separator" class="divider"></li>
					<li><a href="#">Export</a></li>
					<li><a href="#">Import</a></li>
				</ul>
			</li>
			<li class="navbar-link-container"><a href="" data-ng-click="loadTab('history');">History</a></li>
			<li class="navbar-link-container"><a href="" data-ng-click="loadTab('help');">Help</a></li>
		</ul>
	</div>
</header>
