
<section class="panel panel-primary">
	<div class="panel-heading">
		<h2 class="panel-title">Help</h2>
	</div>
	<div class="panel-body">
		<ul>
			<li><a href="#overview_help">Overview</a></li>
			<li><a href="#send_help">Send Requests</a></li>
			<li><a href="#favorites_help">Favorites</a></li>
			<li><a href="#import_help">Import / Export</a></li>
			<li><a href="#history_help">Request History</a></li>
			<li><a href="#headers_help">Headers</a></li>
			<li><a href="#auth_help">Basic Authentication</a></li>
			<li><a href="#response_help">Request Response</a></li>
			<li><a href="#shortcuts_help">Keyboard Shortcuts</a></li>
			<li><a href="#privacy_help">Privacy</a></li>
			<li><a href="#info_help">More information</a></li>
		</ul>

		<h3 id="overview_help">Overview</h3>
		<p>YARC is an easy-to-use REST Client for Google Chrome. Use it to develop, test and debug RESTful APIs. By default, it supports GET, POST, PUT, DELETE, PATCH, HEAD and OPTIONS request methods. Custom request methods can also be added by the user.</p>

		<h3 id="send_help">Send Requests</h3>
		<p>You can send a basic request by simply specifying a URL (e.g. http://www.google.com) in the 'URL' field and pressing the 'Send Request' button. By default it will be a GET request. This is similar to how a browser functions.</p>

		<p>For more complex requests, use a RESTful API and experiment with basic CRUD operations (POST / GET / PUT / DELETE).</p>

		<h3 id="favorites_help">Favorites</h3>
		<p>To add a request to favorites, simply press the star icon next to the 'URL' field or select 'Save Current Request' in the Favorites menu. You'll need to specify a name in order to add a favorite.</p>

		<p>The saved favorite will include the request URL and any custom headers. To re-apply the favorite, simply select it from the Favorites menu.</p>

		<p>All favorites can be viewed, deleted and re-applied from the Manage Favorites screen.</p>

		<p>Favorites are synced with your Google profile meaning they'll appear on all instances of YARC associated with your Google account.</p>

		<h3 id="import_help">Import / Export</h3>
		<p>Favorites can be easily shared via the Import and Export functionality. This is a useful way for colleagues to share custom requests.</p>

		<p>It can also be used to back-up favorites.</p>

		<h3 id="history_help">Request History</h3>
		<p>Every request is automatically saved so it can easily be re-used at any time. Nothing is lost.</p>

		<p>The date, payload, headers, request method, response time and the response body are saved as part of the request history. Only response bodies less than ~100KB are saved.</p>

		<h3 id="headers_help">Custom Headers</h3>
		<p>Custom headers can easily be added to requests. A number of common headers are provided and new ones can be added, edited or deleted.</p>

 		<p>An ACCEPT header is automatically added to every request and a Content-Type header is added to POST and PUT requests. If required, these headers can be over-written.</p>

		<p>Saved custom headers are synced with your Google profile.</p>

		<h3 id="auth_help">Basic Authentication</h3>
		<p>YARC supports Basic Authentication. Simply enter a username/password and YARC will generate the authorization header.</p>

		<h3 id="response_help">Request Response</h3>
		<p>The request response contains a response body (with syntax highlighting) and the request/response headers. The time taken for the API to respond is also included.</p>

		<h3 id="shortcuts_help">Keyboard Shortcuts</h3>
		<p>For improved productivity, keyboard shortcuts can be used to access different sections of the application. How to access them depends on your operating system. Mac: <kbd>Control</kbd> + <kbd>Option</kbd> + <kbd><em>key</em></kbd>. WIndows: <kbd>Alt</kbd> + <kbd><em>key</em></kbd>. The shortcut keys are below...</p>
		<ul>
			<li>Main: <kbd><em>key</em></kbd> = <kbd>m</kbd>
				<ul>
					<li>URL: <kbd><em>key</em></kbd> = <kbd>u</kbd></li>
					<li>Payload: <kbd><em>key</em></kbd> = <kbd>p</kbd></li>
				</ul>
			</li>
			<li>History: <kbd><em>key</em></kbd> = <kbd>h</kbd></li>
			<li>About: <kbd><em>key</em></kbd> = <kbd>a</kbd></li>
			<li>Settings: <kbd><em>key</em></kbd> = <kbd>s</kbd></li>
			<li>License: <kbd><em>key</em></kbd> = <kbd>l</kbd></li>
			<li>Help: <kbd><em>key</em></kbd> = <kbd>?</kbd></li>
		</ul>

		<h3 id="privacy_help">Privacy</h3>
		<p>YARC uses Google Analytics to collect some basic usage information. For example, the number of sent requests, the number of successful/failed imports etc.</p>

		<p>This information is used to determine the popularity of various features. <strong>No personal information is included.</strong></p>

		<p>For peace of mind, the Google Analytics requests can easily be viewed in the Network tab within Chrome Dev Tools.</p>

		<h3 id="info_help">More information</h3>
		<p>For additional help, please use the <a href="{{config.CHROME_STORE_SUPPORT}}" target="_blank">support page</a>.</p>
	</div>
</section>
