
<section class="panel panel-primary">
	<div class="panel-heading">
		<h2 class="panel-title">Help</h2>
	</div>
	<div class="panel-body">
		<ul>
			<li><a href="##overview_help">Overview</a></li>
			<li><a href="##send_help">Send Request</a></li>
			<li><a href="##favorites_help">Favorites</a></li>
			<li><a href="##import_help">Import / Export</a></li>
			<li><a href="##history_help">Request History</a></li>
			<li><a href="##headers_help">Headers</a></li>
			<li><a href="##auth_help">Basic Authentication</a></li>
			<li><a href="##response_help">Request Response</a></li>
			<li><a href="##info_help">More information</a></li>
		</ul>

		<h3 id="overview_help">Overview</h3>
		<p>Lorem ipsum dolar sumit. Lorem ipsum dolar sumit. Lorem ipsum dolar sumit. Lorem ipsum dolar sumit. Lorem ipsum dolar sumit. Lorem ipsum dolar sumit. Lorem ipsum dolar sumit. Lorem ipsum dolar sumit. Lorem ipsum dolar sumit. Lorem ipsum dolar sumit. Lorem ipsum dolar sumit.</p>

		<h3 id="send_help">Send Request</h3>
		<p>Lorem ipsum dolar sumit. Lorem ipsum dolar sumit. Lorem ipsum dolar sumit. Lorem ipsum dolar sumit. Lorem ipsum dolar sumit. Lorem ipsum dolar sumit. Lorem ipsum dolar sumit. Lorem ipsum dolar sumit. Lorem ipsum dolar sumit. Lorem ipsum dolar sumit. Lorem ipsum dolar sumit.</p>

		<h3 id="favorites_help">Favorites</h3>
		<p>Lorem ipsum dolar sumit. Lorem ipsum dolar sumit. Lorem ipsum dolar sumit. Lorem ipsum dolar sumit. Lorem ipsum dolar sumit. Lorem ipsum dolar sumit. Lorem ipsum dolar sumit. Lorem ipsum dolar sumit. Lorem ipsum dolar sumit. Lorem ipsum dolar sumit. Lorem ipsum dolar sumit.</p>

		<h3 id="import_help">Import / Export</h3>
		<p>Lorem ipsum dolar sumit. Lorem ipsum dolar sumit. Lorem ipsum dolar sumit. Lorem ipsum dolar sumit. Lorem ipsum dolar sumit. Lorem ipsum dolar sumit. Lorem ipsum dolar sumit. Lorem ipsum dolar sumit. Lorem ipsum dolar sumit. Lorem ipsum dolar sumit. Lorem ipsum dolar sumit.</p>

		<h3 id="history_help">Request History</h3>
		<p>Lorem ipsum dolar sumit. Lorem ipsum dolar sumit. Lorem ipsum dolar sumit. Lorem ipsum dolar sumit. Lorem ipsum dolar sumit. Lorem ipsum dolar sumit. Lorem ipsum dolar sumit. Lorem ipsum dolar sumit. Lorem ipsum dolar sumit. Lorem ipsum dolar sumit. Lorem ipsum dolar sumit.</p>

		<h3 id="headers_help">Headers</h3>
		<p>Lorem ipsum dolar sumit. Lorem ipsum dolar sumit. Lorem ipsum dolar sumit. Lorem ipsum dolar sumit. Lorem ipsum dolar sumit. Lorem ipsum dolar sumit. Lorem ipsum dolar sumit. Lorem ipsum dolar sumit. Lorem ipsum dolar sumit. Lorem ipsum dolar sumit. Lorem ipsum dolar sumit.</p>

		<h3 id="auth_help">Basic Authentication</h3>
		<p>Lorem ipsum dolar sumit. Lorem ipsum dolar sumit. Lorem ipsum dolar sumit. Lorem ipsum dolar sumit. Lorem ipsum dolar sumit. Lorem ipsum dolar sumit. Lorem ipsum dolar sumit. Lorem ipsum dolar sumit. Lorem ipsum dolar sumit. Lorem ipsum dolar sumit. Lorem ipsum dolar sumit.</p>

		<h3 id="response_help">Request Response</h3>
		<p>	Response - timer, request headers etc. Lorem ipsum dolar sumit. Lorem ipsum dolar sumit. Lorem ipsum dolar sumit. Lorem ipsum dolar sumit. Lorem ipsum dolar sumit. Lorem ipsum dolar sumit. Lorem ipsum dolar sumit. Lorem ipsum dolar sumit. Lorem ipsum dolar sumit. Lorem ipsum dolar sumit. Lorem ipsum dolar sumit.</p>

		<h3 id="info_help">More information</h3>
		<p>Lorem ipsum dolar sumit. Lorem ipsum dolar sumit. Lorem ipsum dolar sumit. Lorem ipsum dolar sumit. Lorem ipsum dolar sumit. Lorem ipsum dolar sumit. Lorem ipsum dolar sumit. Lorem ipsum dolar sumit. Lorem ipsum dolar sumit. Lorem ipsum dolar sumit. Lorem ipsum dolar sumit.</p>
	</div>
</section>
