
<section class="panel panel-primary" data-ng-controller="HistoryCtrl">
	<div class="panel-heading">
		<h2 class="panel-title">History</h2>
	</div>
	<div id="historyIntroText">
		<p>Previous requests are displayed below. Click on the 'More Information' icon to view additional information (including the service responses). Click on the column headers to sort.</p>
		<p><strong>Total number of requests: </strong>{{numberOfEntries}}</p>
	</div>
	<table id="history" st-table="displayedCollection" st-safe-src="rowCollection" class="table table-striped">
		<thead>
			<tr>
				<th st-sort="date" st-skip-natural="true" class="clickable">Date</th>
				<th st-sort="request" st-skip-natural="true" class="clickable">Request URL</th>
				<th st-sort="method" st-skip-natural="true" class="clickable">Type</th>
				<th st-sort="timer" st-skip-natural="true" class="clickable">Response Time</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			<tr data-ng-hide="displayedCollection != null">
				<td colspan="5" class="text-center"><span class="glyphicon glyphicon-refresh spinning"></span> Loading...</td>
			</tr>
			<tr data-ng-show="displayedCollection.length === 0">
				<td colspan="5">There are no entries to display.</td>
			</tr>
			<tr data-ng-repeat="row in displayedCollection" class="small">
				<td>{{row.date | date:dateFormat}}</td>
				<td class="url-row">{{row.request}}</td>
				<td>{{row.method | uppercase}}</td>
				<td>{{row.timer / 1000}} seconds</td>
				<td>
					<button type="button" data-ng-click="removeItem(row)" class="btn btn-xs btn-danger" title="Delete this entry.">
						<span class="glyphicon glyphicon-remove"></span>
					</button>
					<button type="button" data-ng-click="openRowModal(row);" class="btn btn-xs btn-primary" title="Display more details.">
						<span class="glyphicon glyphicon-info-sign"></span>
					</button>
				</td>
			</tr>
		</tbody>
		<tfoot>
			<tr>
				<td class="text-center" st-pagination="" st-items-by-page="20" st-displayed-pages="5" colspan="5"></td>
			</tr>
		</tfoot>
	</table>
</section>
