
<section class="panel panel-primary" ng-controller="HistoryCtrl">
	<div class="panel-heading">
		<h2 class="panel-title">History</h2>
	</div>
	<div class="panel-body">
		<p>Previous requests are displayed below. Click on the 'More Information' icon to view additional information (including the service responses).</p>
		<div class="legend">
			<strong>Legend:</strong><br>
			<ul class="list-inline">
				<li>
					<button type="button" class="btn btn-xs btn-success not-clickable" title="Rerun Request">
						<span class="glyphicon glyphicon-play"></span>
					</button> Rerun Request
				</li>
				<li>
					<button type="button" class="btn btn-xs btn-danger not-clickable" title="Delete">
						<span class="glyphicon glyphicon-remove"></span>
					</button> Delete Request History
				</li>
				<li>
					<button type="button" class="btn btn-xs btn-primary not-clickable" title="Display more details">
						<span class="glyphicon glyphicon-info-sign"></span>
					</button> More Information
				</li>
			</ul>
		</div>
		<p>
			<strong>Total number of requests: </strong>{{numberOfEntries}}
			<span class="text-muted">
				<span ng-show="numberOfEntries == 0">(Nothing to see here yet. Submit some requests to see your request history below.)</span>
				<span ng-show="numberOfEntries == 1">(Well done. The first of many!)</span>
				<span ng-show="numberOfEntries >= 50 && numberOfEntries < 500">(If you like the tool, please consider <a href="{{config.CHROME_STORE_REVIEWS}}" target="_blank">adding a review or rating</a>.)</span>
				<span ng-show="numberOfEntries >= 500 && numberOfEntries < 1000">(That's a lot of requests! Why not <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_donations&business=paulhitz%40gmail%2ecom&lc=IE&item_name=Yet%20Another%20REST%20Client&currency_code=USD&bn=PP%2dDonationsBF%3abtn_donate_LG%2egif%3aNonHosted" target="_blank">consider donating</a>?)</span>
				<span ng-show="numberOfEntries >= 1000 && numberOfEntries < 1500">(Thanks for being a YARC fan!)</span>
				<span ng-show="numberOfEntries >= 1500">(YARC Superfan!)</span>
			</span>
		</p>
	</div>
	<table id="history" st-table="displayedCollection" st-safe-src="rowCollection" class="table table-striped">
		<thead>
			<tr>
				<th st-sort="date" st-skip-natural="true" st-sort-default="reverse" class="clickable">Date</th>
				<th st-sort="request" st-skip-natural="true" class="clickable">Request URL</th>
				<th st-sort="status" st-skip-natural="true" class="clickable">Status</th>
				<th st-sort="method" st-skip-natural="true" class="clickable">Type</th>
				<th st-sort="timer" st-skip-natural="true" class="clickable">Time</th>
				<th>Actions</th>
			</tr>
			<tr ng-show="numberOfEntries > 10">
				<th colspan="6"><input st-search="request" class="form-control" placeholder="Filter by Request URL..." type="text"/></th>
			</tr>
		</thead>
		<tbody>
			<tr ng-hide="displayedCollection != null">
				<td colspan="5" class="text-center"><span class="glyphicon glyphicon-refresh spinning"></span> Loading...</td>
			</tr>
			<tr ng-show="displayedCollection.length === 0">
				<td colspan="5">There are no entries to display.</td>
			</tr>
			<tr ng-repeat="row in displayedCollection" class="small">
				<td>{{row.date | date:dateFormat}}</td>
				<td class="break-row">{{row.request}}</td>
				<td><span class="http-{{row.status}} status-code" title="{{row.statusText}}">{{row.status}}</span></td>
				<td>{{row.method | uppercase}}</td>
				<td>{{row.timer / 1000}} seconds</td>
				<td>
					<button type="button" ng-click="apply(row)" class="btn btn-xs btn-success" title="Rerun Request">
						<span class="glyphicon glyphicon-play"></span>
					</button>
					<button type="button" ng-click="removeItem(row)" class="btn btn-xs btn-danger" title="Delete this entry">
						<span class="glyphicon glyphicon-remove"></span>
					</button>
					<button type="button" ng-click="openRowModal(row);" class="btn btn-xs btn-primary" title="Display more details">
						<span class="glyphicon glyphicon-info-sign"></span>
					</button>
				</td>
			</tr>
		</tbody>
		<tfoot>
			<tr>
				<td class="text-center" st-pagination="" st-items-by-page="20" st-displayed-pages="5" colspan="5"></td>
				<td>
					<button type="button" class="btn btn-danger" ng-click="deleteAll()" ng-show="displayedCollection.length > 3">
						<span class="glyphicon glyphicon-remove"></span> Delete All
					</button>
				</td>
			</tr>
		</tfoot>
	</table>
</section>
