
<div data-ng-controller="ClientAppCtrl">
	<article class="row clearfix">
		<form class="col-md-12 column">
			<section class="panel panel-primary">
				<div class="panel-heading">
					<h2 class="panel-title">Request Settings</h2>
				</div>

				<div class="form-horizontal panel-body" role="form">
					<div class="form-group">
						<label for="requestUrl" class="col-md-1 control-label">URL:</label>
						<div class="col-md-11">
							<div class="row">
								<div class="col-md-12">
									<div class="input-group">
										<span class="input-group-addon" title="Add to favorites.">
											<input type="checkbox" class="glyphicon glyphicon-star-empty">
										</span>
										<input id="requestUrl" type="text" ng-model="requestUrl" typeahead="endpoint.url for endpoint in endpoints | filter:$viewValue | limitTo:8" class="form-control" placeholder="http://www.example.com" autofocus>
										<div class="input-group-btn" title="Select the request method to use.">
											<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{requestMethod}}&nbsp;&nbsp;<span class="caret"></span></button>
											<ul class="dropdown-menu dropdown-menu-right">
												<li><a href="#" ng-click="changeRequestMethod('GET')">GET</a></li>
												<li><a href="#" ng-click="changeRequestMethod('POST')">POST</a></li>
												<li><a href="#" ng-click="changeRequestMethod('PUT')">PUT</a></li>
												<li><a href="#" ng-click="changeRequestMethod('PATCH')">PATCH</a></li>
												<li><a href="#" ng-click="changeRequestMethod('DELETE')">DELETE</a></li>
												<li><a href="#" ng-click="changeRequestMethod('HEAD')">HEAD</a></li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label for="payload" class="col-md-1 control-label">Payload:<br><span data-ng-show="requestMethod !== 'POST' && requestMethod !== 'PUT' && requestMethod !== 'PATCH'">(Optional)</span></label>
						<div class="col-md-11">
							<div class="row">
								<div class="col-md-12">
									<textarea class="form-control" rows="10" id="payload" placeholder="application/json" data-ng-model="payload"></textarea>
								</div>
							</div>
						</div>
					</div>

				
				
				
				
				
				
				<!--
					<div class="form-group">
						<label for="payload" class="col-md-1 control-label">URL:</label>
						<div class="col-md-11">
							<div class="row">
								<div class="col-md-12">
								<div class="input-group">
								
    <ui-select ng-model="endpoint.selected" reset-search-input="false">
    <ui-select-match placeholder="Enter URL...">{{$select.selected.url}}</ui-select-match>
    <ui-select-choices repeat="endpoint in endpoints | filter: $select.search">
      <div ng-bind-html="endpoint.url | highlight: $select.search"></div>
    </ui-select-choices>
  </ui-select>							
								
      <div class="input-group-btn">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Request Method <span class="caret"></span></button>
        <ul class="dropdown-menu dropdown-menu-right">
          <li><a href="#">GET</a></li>
          <li><a href="#">POST</a></li>
          <li><a href="#">PUT</a></li>
        </ul>
			</div>					
							</div>	
							</div>
						</div>
					</div>	
				</div>
				-->
				
				


				</section>


  


  
  

			<section class="panel panel-primary" data-ng-controller="HeadersCtrl">
				<div class="panel-heading" >
					<h2 class="panel-title">
						<a data-ng-click="showHeaderSection = !showHeaderSection">
							Custom Headers
							<i class="pull-right glyphicon" data-ng-class="{'glyphicon-chevron-down': showHeaderSection, 'glyphicon-chevron-right': !showHeaderSection}"></i>
						</a>
					</h2>
				</div>

				<div id="headers" class="panel-collapse collapse" collapse="showHeaderSection">
					<div class="form-horizontal panel-body" role="form" data-ng-model="headers">
					
						<div class="form-group">
							<label for="headers" class="col-md-1 control-label">Headers:</label>
							<div class="col-md-7">
								<div class="input-group">
									<select class="form-control" id="headers" data-ng-model="selectedHeader" data-ng-options="header as header.label group by header.group for header in favHeaders"></select>
									<span class="input-group-btn">
										<button class="btn btn-default" type="button" data-ng-disabled="selectedHeader.label === 'None'" data-ng-click="addCustomHeader(selectedHeader);">Use Favorite</button>
									</span>
								</div>
							</div>
							<div class="col-md-2" data-ng-controller="AddServiceModalCtrl">
								<button type="button" class="btn btn-primary" id="addServiceButton" data-ng-click="openHeaderModal();">Add New Header</button>
							</div>
						</div>
						
						<table class="table table-bordered">
							<thead>
								<tr>
									<th>Header Name</th>
									<th>Header Value</th>
									<th width="100" class="text-center">Actions</th>
								</tr>
							</thead>
							<tbody>
								<tr data-ng-show="isEmptyObject(headers)">
									<td colspan="3">There are no headers to display.</td>
								</tr>
								<tr data-ng-repeat="row in headers">
									<td>{{row.name}}</td>
									<td class="break-row">{{row.value}}</td>
									<td class="text-center">
										<button type="button" data-ng-click="removeHeader(row)" class="btn btn-xs btn-danger" title="Delete this entry.">
											<span class="glyphicon glyphicon-remove"></span>
										</button>
										<button type="button" data-ng-click="openHeaderModal(row);" class="btn btn-xs btn-primary" title="Edit this entry.">
											<span class="glyphicon glyphicon-edit"></span>
										</button>
									</td>
								</tr>
							</tbody>
						</table>
						
						<p data-ng-hide="isEmptyObject(headers)">The above header(s) will be added to the next request.</p>
						
					</div>
				</div>
			</section>



			<section class="panel panel-primary">
				<div class="panel-heading" >
					<h2 class="panel-title">
						<a data-ng-click="showAuthSection = !showAuthSection">
							Authentication
							<i class="pull-right glyphicon" data-ng-class="{'glyphicon-chevron-down': showAuthSection, 'glyphicon-chevron-right': !showAuthSection}"></i>
						</a>
					</h2>
				</div>

				<div id="authentication" class="panel-collapse collapse panel-body" collapse="!showAuthSection">
					<p>Basic Authentication is supported. Enter a username and password and the Authorization Header will be generated and sent with the request.</p>

					<div class="form-horizontal" role="form">
						<div class="form-group">
							<label for="auth" class="col-md-2 control-label">Authorization:</label>
							<div class="col-md-7">
								<input type="text" class="form-control" id="auth" placeholder="Example: Basic QWxhZGRpbjpvcGVuIHNlc2FtZQ==" value="" data-ng-model="parameter">
							</div>
							<div class="col-md-3" data-ng-controller="AddServiceModalCtrl">
								<button type="button" class="btn btn-default" id="addServiceButton" data-ng-click="open();">Add Credentials</button>
							</div>
						</div>
					</div>
				</div>
			</section>

			<button type="submit" class="btn btn-success pull-right" id="submitFormButton" data-ng-click="submit();" data-ng-disabled="processing">Send Request</button>
		</form>
	</article>

	<div class="clearfix" data-ng-model="progress" data-ng-hide="displayResponse" data-ng-cloak>
		<progressbar class="progress-striped active" value="progress.value || 0">{{progress.label}}</progressbar>
	</div>

	<div class="clearfix" data-ng-cloak>
		<alert data-ng-repeat="alert in alerts" type="{{alert.type}}">{{alert.msg}}</alert>
	</div>

	<div id="response" class="row clearfix" data-ng-show="displayResponse" data-ng-cloak>
		<div id="responseBody" class="col-md-12 column">
			<section class="panel panel-info">
				<div class="panel-heading">
					<h2 class="panel-title">Response</h2>
				</div>

				<div class="panel-body">
					<div class="well">
						<strong>Request URL:</strong> <a href="{{requestUrl}}" target="_blank">{{requestUrl}}</a><br>
						<strong>Request Method:</strong> {{requestMethod}}<br>
						<strong>Service Response Time:</strong> {{(timerEnd - timerStart) / 1000}} seconds
					</div>
					
					<tabset class="json-tabs">
						<tab heading="Response Body">
							<div data-hljs data-source="responseBody" class="json-content"></div>
						</tab>
						<tab heading="Response Headers">
							<div data-hljs data-source="responseHeaders" class="json-content"></div>
						</tab>
						<tab heading="Request Headers">
							<div data-hljs data-source="requestHeaders" class="json-content"></div>
						</tab>
					</tabset>

					<div id="copy-buttons">
						<button type="button" class="btn btn-primary" data-ng-click="copy(requestUrl);">
							<span class="glyphicon glyphicon-save" aria-hidden="true"></span> Copy Request
						</button>
						<button type="button" class="btn btn-primary" data-ng-click="copy(responseBody);">
							<span class="glyphicon glyphicon-save" aria-hidden="true"></span> Copy Response
						</button>
						<br>
						<span class="label label-success" data-ng-show="copyMessage">
							<span class="glyphicon glyphicon-ok" aria-hidden="true"></span> {{copyMessage}}
						</span>
					</div>
				</div>
			</section>
		</div>
	</div>
</div>
