<!DOCTYPE html>
<html lang="en" ng-app="clientApp" ng-csp>
<head>
	<meta charset="utf-8">
	<title>D&amp;B Services Client</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="This tool allows a user to easily test the status of various D&amp;B Services.">
	<meta name="author" content="Paul Hitz">

	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">
	<link href="css/angular-csp.css" rel="stylesheet">
	<link href="css/highlightjs-default.min.css" rel="stylesheet">

	<script type="text/javascript" src="js/jquery.min.js"></script>
	<script type="text/javascript" src="js/bootstrap.min.js"></script>
</head>

<body>
<div class="container" ng-controller="ClientController">

	<header class="navbar navbar-default">
		<div class="navbar-brand">
			<img src="img/logo_38x38.png" alt="Logo"> D&amp;B Services REST Client
		</div>
		<div class="collapse navbar-collapse">
			<p class="navbar-text navbar-right">Developed by the Dublin Onboard Team</p>
		</div>
	</header>

	<p>This tool allows a user to easily test the status of various D&amp;B Services.</p>

	<article class="row clearfix">
		<div class="col-md-12 column">

			<section class="panel panel-primary">
				<div class="panel-heading">
					<h2 class="panel-title">Settings</h2>
				</div>

				<form class="form-horizontal panel-body" role="form">
					<div class="form-group">
						<label for="env" class="col-sm-2 control-label">Environment:</label>
						<div class="col-sm-10">
							<select class="form-control" id="env" ng-model="environmentSelected" ng-options="env.id as env.label for env in environments"></select>
						</div>
					</div>
					<div class="form-group">
						<label for="services" class="col-sm-2 control-label">Select Service:</label>
						<div class="col-sm-10">
							<select class="form-control" id="services" ng-model="serviceSelected" ng-options="service.id as service.label for service in services" ng-disabled="service.requestUrl"></select>
						</div>
					</div>
					<div class="form-group">
						<label for="duns" class="col-sm-2 control-label">DUNS# (optional):</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="duns" placeholder="123456789" value="" ng-model="duns">
						</div>
					</div>
				</form>
			</section>

			<section class="panel panel-primary">
				<div class="panel-heading" ng-controller="ToggleController">
					<h2 class="panel-title">
						<a data-toggle="collapse" href="#advanced" ng-click="toggle(status);">
							Advanced Settings (Optional)
							<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status, 'glyphicon-chevron-right': !status}"></i>
						</a>
					</h2>
				</div>

				<div id="advanced" class="panel-collapse collapse">
					<form class="form-horizontal panel-body" role="form" ng-model="service">
						<div class="form-group">
							<label for="requestUrl" class="col-sm-2 control-label">Request URL:</label>
							<div class="col-sm-10">
								<input type="url" class="form-control" id="requestUrl" placeholder="Request URL" ng-model="service.requestUrl">
							</div>
						</div>
						<div class="form-group">
							<label for="appId" class="col-sm-2 control-label">Application Id:</label>
							<div class="col-sm-10">
								<input type="text" class="form-control" id="appId" placeholder="User ID" ng-model="service.appId">
							</div>
						</div>
						<div class="form-group">
							<label for="userId" class="col-sm-2 control-label">User ID:</label>
							<div class="col-sm-10">
								<input type="text" class="form-control" id="userId" placeholder="User ID" ng-model="service.userId">
							</div>
						</div>
						<div class="form-group">
							<label for="password" class="col-sm-2 control-label">Password:</label>
							<div class="col-sm-10">
								<input type="password" class="form-control" id="password" placeholder="Password" ng-model="service.password">
							</div>
						</div>
						<div class="form-group">
							<label for="payload" class="col-sm-2 control-label">Payload:</label>
							<div class="col-sm-10">
								<textarea class="form-control" rows="5" id="payload" placeholder="application/json" ng-model="service.payload"></textarea>
							</div>
						</div>
					</form>
				</div>
			</section>

			<button type="button" class="btn btn-success pull-right" ng-click="submit();" ng-disabled="processing">Send Service Request</button>
		</div>
	</article>

	<div class="clearfix" ng-hide="displayResponse">
		<progressbar class="progress-striped active" value="progressValue" ng-model="progress">{{progressLabel}}</progressbar>
	</div>

	<div class="clearfix">
		<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
	</div>

	<div id="response" class="row clearfix" ng-show="displayResponse">
		<div id="responseBody" class="col-md-12 column">
			<section class="panel panel-info">
				<div class="panel-heading">
					<h2 class="panel-title">Response</h2>
				</div>

				<div class="panel-body">
					<div class="well">
						<strong>Request URL:</strong> {{requestUrl}}<br>
						<strong>Authentication Token:</strong> {{authenticationToken}}<br>
					</div>

					<div role="tabpanel">
						<ul class="nav nav-tabs" role="tablist">
							<li role="presentation" class="active"><a href="#json" role="tab" data-toggle="tab">Response Body</a></li>
							<li role="presentation"><a href="#responseHeaders" role="tab" data-toggle="tab">Response Headers</a></li>
							<li role="presentation"><a href="#requestHeaders" role="tab" data-toggle="tab">Request Headers</a></li>
						</ul>
						<div class="tab-content">
							<div role="tabpanel" class="tab-pane active json-content" id="json">
								<pre><code hljs source="responseBody"></code></pre>
							</div>
							<div role="tabpanel" class="tab-pane json-content" id="responseHeaders">
								<pre><code hljs source="responseHeaders"></code></pre>
							</div>
							<div role="tabpanel" class="tab-pane json-content" id="requestHeaders">
								<pre><code hljs source="requestHeaders"></code></pre>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
	</div>

	<footer class="row footer navbar-default">
		<div class="container">
			<p class="text-muted pull-left">Developed by the Dublin <a href="http://onboard.dnb.com/">Onboard</a> Team.</p>
			<p class="pull-right"><a href="#top" target="_self">Back To Top</a></p>
		</div>
	</footer>
</div>

<script src="js/angular.min.js"></script>
<script src="js/angular-resource.min.js"></script>
<script src="js/highlight.min.js"></script>
<script src="js/angular-highlightjs.min.js"></script>
<script src="js/ui-bootstrap-tpls-0.12.0.min.js"></script>
<script src="js/data.js"></script>
<script src="js/scripts.js"></script>
</body>
</html>
