<!DOCTYPE html>
<html lang="en" ng-app="clientApp" ng-csp>
<head>
	<meta charset="utf-8">
	<title>YARC! Yet Another REST Client</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="YARC is an easy-to-use REST Client for Google Chrome. Use it to develop, test and debug RESTful APIs.">
	<meta name="author" content="Paul Hitz">
	<link href="lib/components/angular/angular-csp.css" rel="stylesheet">
	<link href="lib/components/bootswatch-spacelab/css/bootstrap.min.css" rel="stylesheet" ng-if="!settings.darkMode">
	<link href="lib/components/bootswatch-slate/css/bootstrap.min.css" rel="stylesheet" ng-if="settings.darkMode">
	<link href="lib/components/highlightjs/styles/default.css" rel="stylesheet">
	<link href="lib/components/AngularJS-Toaster/toaster.min.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">
	<link href="css/dark-mode.css" rel="stylesheet" ng-if="settings.darkMode">
</head>
<body ng-show="pageReady">
<div class="container">
	<ng-include src="'partials/header.html'"></ng-include>

	<ng-include src="'partials/main.html'" ng-hide="currentTab && currentTab !== 'main'"></ng-include>
	<ng-include src="'partials/history.html'" ng-show="currentTab === 'history'"></ng-include>
	<ng-include src="'partials/favorites.html'" ng-show="currentTab === 'favorites'"></ng-include>
	<ng-include src="'partials/about.html'" ng-show="currentTab === 'about'"></ng-include>
	<ng-include src="'partials/help.html'" ng-show="currentTab === 'help'"></ng-include>
	<ng-include src="'partials/changelog.html'" ng-show="currentTab === 'log'"></ng-include>
	<ng-include src="'partials/settings.html'" ng-show="currentTab === 'settings'"></ng-include>
	<ng-include src="'partials/license.html'" ng-show="currentTab === 'license'"></ng-include>

	<!-- Global Notifications -->
	<toaster-container toaster-options="{'close-button': true, 'position-class': 'toast-bottom-full-width'}"></toaster-container>

	<ng-include src="'partials/footer.html'"></ng-include>
</div>

<script src="lib/components/jquery/dist/jquery.min.js"></script>
<script src="lib/components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="lib/components/angular/angular.min.js"></script>
<script src="lib/components/angular-resource/angular-resource.min.js"></script>
<script src="lib/components/highlightjs/highlight.pack.js"></script>
<script src="lib/components/angular-highlightjs/build/angular-highlightjs.min.js"></script>
<script src="lib/components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
<script src="lib/components/angular-smart-table/dist/smart-table.min.js"></script>
<script src="lib/components/angular-bootstrap-file-field/dist/angular-bootstrap-file-field.min.js"></script>
<script src="lib/components/angular-animate/angular-animate.min.js"></script>
<script src="lib/components/AngularJS-Toaster/toaster.min.js"></script>

<script src="js/app.ctrl.js"></script>
<script src="js/app.constants.js"></script>
<script src="js/app.config.js"></script>
<script src="js/helper.service.js"></script>
<script src="js/requests.service.js"></script>
<script src="js/favorites.service.js"></script>
<script src="js/progressbar.service.js"></script>
<script src="js/favorites.ctrl.js"></script>
<script src="js/manageFavorites.ctrl.js"></script>
<script src="js/fileImport.service.js"></script>
<script src="js/headers.ctrl.js"></script>
<script src="js/headers.service.js"></script>
<script src="js/auth.ctrl.js"></script>
<script src="js/auth.service.js"></script>
<script src="js/history.ctrl.js"></script>
<script src="js/history.service.js"></script>
<script src="js/events.ctrl.js"></script>
<script src="js/common.module.js"></script>
<script src="js/settings.ctrl.js"></script>
<script src="js/settings.service.js"></script>

</body>
</html>
